    .blocks {
        margin-top: 350px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include for-tablet {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
            row-gap: 50px;
            margin-top: 80px;
        }
        @include for-phone {
            margin-top: 50px;
        }
        &__span {
            color: var(--indigo-500, #444BD3);
            font-size: 14px;
            font-weight: 600;
            line-height: 170%;
            letter-spacing: 0.8px;
            text-transform: uppercase;
            @include for-tablet {
                display: block;
                max-width: 264px;
                width: 100%;
                text-align: center;
                margin: 0 auto;
                margin-bottom: 15px;
            }
        }
        &__title {
            max-width: 464px;
            width: 100%;
            color: var(--grayscale-900, #121127);
            font-size: 40px;
            font-weight: 800;
            line-height: 140%;
            margin-top: 20px;
            margin-bottom: 16px;
            @include for-tablet {
                max-width: 364px;
                width: 100%;
                color: var(--grayscale-900, #121127);
                font-size: 34px;
                text-align: center;
                margin: 0 auto;
                margin-bottom: 15px;
            }
        }
        &__text {
            max-width: 456px;
            width: 100%;
            color: var(--grayscale-900-opacity-56, rgba(18, 17, 39, 0.56));
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 180%;
            margin-bottom: 32px;
            @include for-tablet {
                max-width: 345px;
                width: 100%;
                font-size: 15px;
                text-align: center;
                margin: 0 auto;
                margin-bottom: 15px;
            }
        }
        &__right {
            position: relative;
            &__icon {
                position: absolute;
                top: 35%;
                left: 45%;
            }
        }
        &__contact {
            margin-top: 100px;
            &__title {
                max-width: 680px;
                color: var(--grayscale-900, #121127);
                text-align: center;
                font-size: 24px;
                font-weight: 800;
                line-height: 140%;
                margin: 0 auto;
                @include for-tablet {
                    max-width: 450px;
                    width: 100%;
                    text-align: center;
                    font-size: 22px;
                    margin-top: 80px;
                }
            }
            &__icons {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 48px;
                @include for-tablet {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    width: 100%;
                    margin: 0 auto;
                    margin-top: 80px;
                    column-gap: 50px;
                    row-gap: 50px;
                }
            }
        }
        &__btn {
            @include for-tablet {
                width: 100%;
            }
        }
    }
    
    .line {
        margin-top: 72px;
        @include for-phone {
            display: none;
        }
    }